In [ ]:
## Download Dataset
!pip install opendatasets
import opendatasets as od

In [ ]:
od.download('https://www.kaggle.com/datasets/leonardocipriani/ptbx-xl-ds-small)

In [1]:
import pandas

In [10]:
database_file = pandas.read_csv('ptbxl_database.csv')
statements_file = pandas.read_csv('scp_statements.csv')

In [13]:
database_file.columns

Index(['ecg_id', 'patient_id', 'age', 'sex', 'height', 'weight', 'nurse',
       'site', 'device', 'recording_date', 'report', 'scp_codes', 'heart_axis',
       'infarction_stadium1', 'infarction_stadium2', 'validated_by',
       'second_opinion', 'initial_autogenerated_report', 'validated_by_human',
       'baseline_drift', 'static_noise', 'burst_noise', 'electrodes_problems',
       'extra_beats', 'pacemaker', 'strat_fold', 'filename_lr', 'filename_hr'],
      dtype='object')

In [14]:
database_file.head()

,ecg_id,patient_id,age,sex,height,weight,nurse,site,device,recording_date,...,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
0,1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,1984-11-09 09:17:34,...,True,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr
1,2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,1984-11-14 12:55:37,...,True,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr
2,3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,1984-11-15 12:49:10,...,True,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr
3,4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,1984-11-15 13:44:57,...,True,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr
4,5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,1984-11-17 10:43:15,...,True,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr

In [18]:
database_file_treat = database_file.drop(columns=['height', 'weight', 'nurse',
       'site', 'device', 'recording_date', 'heart_axis',
       'infarction_stadium1', 'infarction_stadium2', 'validated_by',
       'second_opinion', 'initial_autogenerated_report','validated_by_human',
       'baseline_drift', 'static_noise', 'burst_noise', 
       'electrodes_problems','extra_beats', 'pacemaker', 
       'strat_fold',])

In [19]:
database_file_treat.head()

,ecg_id,patient_id,age,sex,report,scp_codes,filename_lr,filename_hr
0,1,15709.0,56.0,1,sinusrhythmus periphere niederspannung,"{'NORM': 100.0, 'LVOLT': 0.0, 'SR': 0.0}",records100/00000/00001_lr,records500/00000/00001_hr
1,2,13243.0,19.0,0,sinusbradykardie sonst normales ekg,"{'NORM': 80.0, 'SBRAD': 0.0}",records100/00000/00002_lr,records500/00000/00002_hr
2,3,20372.0,37.0,1,sinusrhythmus normales ekg,"{'NORM': 100.0, 'SR': 0.0}",records100/00000/00003_lr,records500/00000/00003_hr
3,4,17014.0,24.0,0,sinusrhythmus normales ekg,"{'NORM': 100.0, 'SR': 0.0}",records100/00000/00004_lr,records500/00000/00004_hr
4,5,17448.0,19.0,1,sinusrhythmus normales ekg,"{'NORM': 100.0, 'SR': 0.0}",records100/00000/00005_lr,records500/00000/00005_hr

In [21]:
statements_file_treat = statements_file.drop(columns=['diagnostic','form','rhythm', 'AHA code', 'aECG REFID', 'CDISC Code', 'DICOM Code'])

In [22]:
statements_file_treat.head()

,Unnamed: 0,description,diagnostic_class,diagnostic_subclass,Statement Category,SCP-ECG Statement Description
0,NDT,non-diagnostic T abnormalities,STTC,STTC,other ST-T descriptive statements,non-diagnostic T abnormalities
1,NST_,non-specific ST changes,STTC,NST_,Basic roots for coding ST-T changes and abnorm...,non-specific ST changes
2,DIG,digitalis-effect,STTC,STTC,other ST-T descriptive statements,suggests digitalis-effect
3,LNGQT,long QT-interval,STTC,STTC,other ST-T descriptive statements,long QT-interval
4,NORM,normal ECG,NORM,NORM,Normal/abnormal,normal ECG

In [19]:
statements_file_treat.columns

Index(['Unnamed: 0', 'description', 'diagnostic_class', 'diagnostic_subclass',
       'Statement Category', 'SCP-ECG Statement Description', 'AHA code',
       'aECG REFID', 'CDISC Code', 'DICOM Code'],
      dtype='object')